html *{
		padding:0;
		margin:0;
		font-family: Arial, Verdana, Helvetica, sans-serif;
	}
	body{
		/*background-image: url(img/bg.jpg);*/
		background-color: white; 
	}
	/*
	.imgon {
		background-color: black;
		opacity: 0.7;
		z-index: 1;
		width: 100%;
		height: 600px;
		position: absolute;
	}*/

	 .logo{
		position: relative;
		font-size: 20px;
		color: white;
		width: 100px;
		left: 10px;
		top: 20px;
		
	}
	
	.nav *{
		text-decoration:none;
		font-size:9pt;
		z-index: 10;
		
	}
	.nav * a:hover{
		background-color:#82ce18;/* 鼠标经过时的红色背景，可自定义 */
	}
	.menu{
		z-index: 10;
		position: fixed;
		height:55px;
		width:100%;
		background-color:black;
		
		
	}
	.nav{
		list-style:none;
		height:30px;
		width:60%;
		margin:0 auto;
		background-color:black;	
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around; 	
	}
	.nav li{
		/*float:left;*/
		border-left:1px solid #4a4a4a;
		border-right:1px solid #242424;
		border-top:1px solid #4a4a4a;
		border-bottom:1px solid #242424;
		position:relative;
	}
	.nav li a{
		color:#fff;
		height:30px;
		width: 190px;
		text-align: center;
		font-size: 15px;
		line-height:30px;
		font-weight:300;
		padding:0 10px;
		blr:expression(this.onFocus=this.close());
		blr:expression(this.onFocus=this.blur());
		display:inline-block;
	}
	.nav li a:focus{ 
		-moz-outline-style: none; 
	}
	.nav li .sub-nav{
		position:absolute;
		top:39px;
		left:-1px;
		list-style:none;
		background-color:#333;
		display:none;
	}
	.nav li .sub-nav li{
		text-align:center;
		clear:left;
		width:200px;
		height:35px;
		line-height:35px;
		position:relative;
	}
	.nav li .sub-nav li a{
		height:34px;
		line-height:34px;
		width:200px;
		padding:0;
		display:inline-block;
	}

#out{
	position: absolute;
	width: 100px;
	left: 85%;
	
	top: 10px;
	color: white;

}

#out a:link{
	color: #B2FF99;
}
#out a:visited{
	color: #FFFF85;
}
#out a:hover{
	color: #FF704D;
}
#out a:active{
	color: #FF704D;
}

.info{
	position: relative;
	top:100px;
	width: 100%;
	height: 600px;
	text-align: center;
}


.preview{
	width: 90%;
	height: 500px;
	margin: 0 auto;
	padding-top: 50px;

}



#myDiv{
	width: 80%;
	overflow: scroll;
	height: 300px;
	margin: 0 auto;
}

#tableExcel{
	width: 1100px;
	overflow: scroll;
	margin-top: 50px; 
	border-collapse: collapse;
	text-align: center;
}

#tableExcel th{ 
	padding: 5px;
	margin: 2px;
 }

 #excelBtn{
 	margin-top: 30px; 
 }

#tableExcel td, #tableExcel th 
  {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  }

#tableExcel th 
  {
  
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

#tableExcel tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }