<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
    <h3 class="text-center" style="padding-top:10px;padding-bottom:70px;color:#FF3300;font-size:20px">
        上传表格：<br/>
        1.tbCell<br/>
        2.tbSecAdjCell<br/>
        3.tbOptCell<br/>
        4.tbKpi<br/>
        5.tbPRB.xlsx<br/>
        6.tbMROData<br/>
        7.tbPRB.txt<br/>
    </h3>
    <h3 class="text-center" style="padding-top:10px;padding-bottom:70px;color:#FF00FF;font-size:20px">
        下载表格：<br/>
        a.tbCell<br/>
        b.tbSecAdjCell<br/>
        c.tbOptCell<br/>
        d.tbKpi<br/>
        e.tbPRB.xlsx<br/>
        f.tbMROData<br/>
        g.tbPRB.txt<br/>
    </h3>
    <form action="/test/" method="post">
        <label class="control-label" for="choose" >输入上传表格序号&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input id="choose" type="text" name="table_choose">
        <input type="submit" value="上传">
    </form>

</head>
<body>

</body>
</html>