<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Upload</title>
	<script src="js/jquery.min.js" type="text/javascript"></script>

</head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/upload.css">

<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/uploadtbKPI.js"></script>

<script>
	
	$(function(){
		var timer = function(){};

		$(".nav>li").hover(function(){
			clearTimeout(timer);
			$(this).children('ul').stop(true,true).show();
		},function(){
			var self = $(this);
			timer = setTimeout(function(){
				self.children('ul').stop(true,true).hide();	
			}, 100);
		});
	});
</script>
<body>
	
	<div id="content">


		<!--DEMO start-->
		<div class="menu">
			<div class="logo">
				TD-LTE
			</div>
			<ul class="nav">


				<li><a href="User.html">数据管理</a>
					<ul class="sub-nav">
						<li><a href="uploadtbCell.html">数据导入</a></li>
						<li><a href="download.html">数据导出</a></li>

					</ul>
				</li>
				<li><a href="User.html">数据查询</a>
					<ul class="sub-nav">
						<li><a href="searchCell.html">小区配置信息查询</a></li>
						<li><a href="searchEnodeb.html">基站eNodeB查询</a></li>
						<li><a href="searchKPI.html">KPI指标查询</a></li>
						<li><a href="searchPRB.html">PRB信息查询</a></li>

					</ul>
				</li>
				<li><a href="User.html">数据分析</a>
					<ul class="sub-nav">
						<li><a href="analyC2I.html">主邻小区C2I干扰分析</a></li>
						<li><a href="analy3cell.html">查询重叠覆盖干扰三元组</a></li>

					</ul>
				</li>
			</ul>
			<div id="out">	
				<a href="first.html" >Log Out</a>
			</div>
		</div>
	</div>


	<div class="upload">
		<div class="tableList">
			<ul class="navi-list" >
				<li class="nav-header">需导入的表格</li>
				<li ><a href="uploadtbCell.html">tbCell</a></li>
				<li class="active"><a href="uploadtbKPI.html">tbKPI</a></li>
				<li><a href="uploadtbPRB.html">tbPRB</a></li>
				<li ><a href="uploadtbMROData.html">tbMROData</a></li>
				
			</ul>

		</div>
		<div class="chooseFile">
			<div class="fileTitle">
				<h3>tbKPI</h3>
			</div>
			<form enctype="multipart/form-data">

				<input id="file-0" class="file" type="file" multiple data-min-file-count="1">
				<br>
				<button type="submit" class="btn btn-primary">上传</button>
				<button type="reset" class="btn btn-default">取消</button>
			</form>
		</div>
		<br>

		<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-success" role="progressbar"
			aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" id="probar" style="width: 0%" 
			>
			<span class="sr-only"> 完成</span>
		</div>
	</div>
	
</div>


<!--DEMO end-->




</body>
</html>